.activity-11LB_k, .headerFill-adLl4x {
  box-shadow: 0 0 10px -3px rgba(0,0,0,.75);
  position:relative;
  z-index:1;
  overflow:hidden
}
.activity-11LB_k::before, .headerFill-adLl4x::before {
  content:"";
  position:absolute;
  left:0;top:-10%;
  width:100%;
  height:120%;
  transform:rotate(-5deg);
  z-index:-1;
  background-image:url(https://i.imgur.com/ZIiYTwn.png);
  background-repeat:repeat;
  background-position:center;
  background-size:cover;
  mix-blend-mode:darken
}
.bg-h5JY_x {
    background-color:transparent;
    background-position:var(--backgroundPosition);
    background-repeat:var(--backgroundRepeat);
    background-size:var(--backgroundSize);
    background-image:var(--backgroundImage);
    opacity:var(--backgroundOpacity);
    filter:blur(var(--backgroundBlur))
}
.attachment-33OFj0::after,.embedFull-2tM8--::after,.wrapper-35wsBm::after {
    content:"";
    position:absolute;
    width:110%;
    height:110%;
    left:-5%;
    top:-5%;
    background-image:var(--backgroundImage);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    opacity:.65;
    filter:blur(var(--backgroundBlur));
    z-index:0
}
